---
layout: layouts/base.njk
description: Stuy Bioinformatics publication.
---

{% set postsindex %} {% include "styles/postsindex.css" %} {% endset %}
<style>
	{{ postsindex | cssmin | safe }}
</style>

<h1 class="title">Stuy Bioinformatics Publication</h1>

{% set postlist = collections.posts %} {% include "components/postlist.njk" %}